node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/storage
public/build
.git
.github
.idea
.vscode
tests
phpunit.xml
README.md
*.md
